.caja{
    float: left;
}


#caja1{
    background-color: blue;
    border: 2px solid grey;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 50%;
    height: 100px;
}
#caja2{
    background-color: rgb(246, 246, 132);
    border: none;
    width: 20%;
    height: 50px;
    
}
#caja3{
    background-color: rgb(248, 113, 113);
    border: 1px double black;
    width: 20%;
    height: 50px;
    clear: left;

}
#caja4{
    border: 20px dotted gree;
}
